body {
    font-family: monospace;
    text-align: center;
}

#main {
	display: inline-block;
    width: 1280px;
    margin: auto;
}

#draw_area {
    display: flex;
}

button {
    background-color: white;
    font-family: monospace;
    border: solid 1px;
}
button:active{
    background-color: black;
    color: white;
}

#side {
    display: grid;
    grid-template-columns: 100px;
    margin: 2%;
    gap: 4%;
    grid-auto-rows: 100px;
}

#brush_size_block {
    display: flex;
    flex-direction: column; /* 垂直排列文字和按鈕 */
    align-items: center; /* 讓內容水平居中 */
    justify-content: center;
    gap: 10px; /* 文字和按鈕之間的間距 */
    padding: 10px;
    border: solid 1px #ccc; /* 加上邊框，讓它成為區塊 */
    border-radius: 8px; /* 圓角邊框 */
    background-color: #f9f9f9; /* 背景顏色 */
  }
  
  #brush_size_label {
    font-size: 18px;
    font-family: monospace;
  }
  
  #brush_size_controls {
    display: flex;
    gap: 10px; /* 控制按鈕間距 */
  }

canvas {
    flex: none;
    border: solid 1px;
    margin: auto;
    transform: scaleX(-1);
}

video {
    display: none;
}

h1 {
    text-align: start;
    margin: 3%;
}

h2 {
    text-align: start;
    margin: 3%;
    margin-bottom: 1%;
}

ul {
    text-align: start;
}

#download_button {
    display: block;
    margin: 2%;
    display: none;
}